#flowmap {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#in-out-but {
	position:absolute;
	z-index:1000;
	width:60px;
	height:46px;
	background-color: #eee;
}

/*.stations, .stations svg {
  position: absolute;
}

.stations svg {
  width: 60px;
  height: 20px;
  padding-right: 100px;
  font: 10px sans-serif;
}

.stations circle {
  fill: brown;
  stroke: black;
  stroke-width: 1.5px;
}*/
