#main {
	width: 100vw;
	height:100vh;
}

#leftpanel {
	float: left;
	width: 18vw;
	height: 100vh;
}
#mainpanel {
	float: right;
	width: 79vw;
	height: 100vh;
}

.cat_list {
	background-color: #eee;
	margin: 1vh;
}

.disp_window {
	height: 45%;
	width: 45%;
	float: left;
	background-color: #eee;
	margin: 1px;
}